div{font-size:50px;}
.greencolor{color:green}
.orangecolor{color:orange}
div{font-size:50px;}
body{background-color:yellow;}
ul:hover{color:blue}
margin{background-color:blue;
margin:100px;}
.padding{padding:50px;
padding-top:50;
padding-bottom:50;
padding-left:250;
padding-right:50;}
.border{
border:2px dotted black;}
